table{
  width:100%;

}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
  height: 4.5vw;
  background-color: white;
}

@media(max-width: 1200px){
  th {
    height: 5.5vw;
  }
}

@media(max-width: 990px){
  th {
    height: 8vw;
  }
}

.exit{
  background-color: orange;
}

.wall{
  background-color: gray;
}

.player{
  background-color: teal;
}

.minotaur{
  background-color: red;
}

.treasure{
  background-color: yellow;
}


.blocked{
  background-color: black;
}

body{
  text-align: center;
  color: gold;
  background-color: #4B0082;
}
